<% provide :title, t("header.help") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1><%= t "header.help" %></h1>
    <p>
      <%= t "help.content" %>
      <em><a href="http://www.railstutorial.org/#help">Nguyen Van Long</a></em>
      <%= t "help.or" %>
      <a href="http://www.railstutorial.org/book"><em>Nguyen Thi Thu Huong</em> </a>.
    </p>
  </body>
</html>	
