<%= form_for @category do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :name, placeholder: t("category.text_add") %>
  </div>
  <%= f.submit t("category.btn_add"), class: "btn btn-primary" %>
<% end %>
