<%= form_for [:admin, @category] do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :name, placeholder: t("category.text_add"), rows: 8,
      required: "required", class: "form-control" %>
  </div>
  <%= f.submit yield(:button_text), class: "btn btn-primary btn-submit-form" %>
<% end %>
