/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@media (max-width: 768px) {
  .hidden-xs{
    display:none;
  }
  .no-padding-xs{
    padding:0 !important;
  }
  .no-padding-left-xs{
    padding-left:0 !important;
  }
  .no-padding-right-xs{
    padding-right:0 !important;
  }
}
@media (min-width: 768px) {
  .hidden-sm{
    display:none;
  }
  .no-padding-sm{
    padding:0 !important;
  }
  .no-padding-left-sm{
    padding-left:0 !important;
  }
  .no-padding-right-sm{
    padding-right:0 !important;
  }
}
@media (min-width: 992px) {
  .hidden-md{
    display:none;
  }
  .no-padding-md{
    padding:0 !important;
  }
  .no-padding-left-md{
    padding-left:0 !important;
  }
  .no-padding-right-md{
    padding-right:0 !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg{
    display:none;
  }
  .no-padding-lg{
    padding:0 !important;
  }
  .no-padding-left-lg{
    padding-left:0 !important;
  }
  .no-padding-right-lg{
    padding-right:0 !important;
  }
}

.no-padding{
  padding:0 !important;
}
.no-padding-left{
  padding-left:0 !important;
}
.no-padding-right{
  padding-right:0 !important;
}
