@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  font-weight: normal;
  color: blue;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.btn-submit-form {
  margin-top: 5px
}

table tr td {
  vertical-align: middle !important;
}
table .underline {
  text-decoration: underline;
}
table th {
  text-align: center
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.header_botton a{
  color: white;
  font: Sans-serif;
  font-weight: bord;
  &:hover {
    color: black;
    background: none;
  }
}

.header_bar{
  background-color: #337ab7;
}

footer {
  overflow: hidden;
  clear: both;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  position: relative;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 9px 0;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.page_resize{
  padding: 30px 30px 50px 30px;
}

.footer_resize{
  padding-bottom: 0px;
}

.user_info {
    margin-top: 20px;
    p {
      font-size: 18px;
    }
}

.botton {
  margin-top: 20px;
  color: green;
}

.categories {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

#myform {
  display: none;
}
.fix-paging {
  text-align: center;
  div.pagination {
    margin:10px 0;
  }
  ul.pagination {
    margin:0;
  }
}
