<% provide :title, t("category.add_title") %>
<div class="row">
  <section class="category_form">
    <%= render "shared/category_form" %>
  </section>
</div>
<% @categories.each do |category| %>
  <p><%= category.name %></p>
  <%= link_to t("category.edit"), edit_category_path(category) %>
  <%= link_to t("category.delete"), category, method: :delete %>
<% end %>
