<footer class="footer">
  <small>
    <%= t "footer.content" %>
    <em><a href="https://www.facebook.com/NguyenLog?fref=ts">Nguyen Van Long</a></em>
    <%= t"footer.and" %>
    <em><a href="#">Ngo Anh Khang</a></em>
  </small>
</footer>
