<footer class="footer">
  <small>
    <%= t "footer.content" %>
    <em><a href="https://www.facebook.com/NguyenLog?fref=ts">Nguyen Van Long</a></em>
    <%= t"footer.and" %>
    <em><a href="https://www.facebook.com/share.moment.1">Nguyen Thi Thu Huong</a></em>
  </small>
</footer>
