<header class="navbar navbar-fixed-top header_bar">
  <div class="container">
    <%= link_to t("header.title"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("header.home"), root_path, id: "header_botton" %></li>
        <li><%= link_to t("header.help"), help_path, id: "header_botton" %></li>
        <li><%= link_to t("header.signup"), signup_path, id: "header_botton" %></li>
      </ul>
    </nav>
  </div>
</header>
