<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("header.title"), "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("header.home"), root_path %></li>
        <li><%= link_to t("header.help"), static_pages_help_path%></li>
        <li><%= link_to t("header.signup"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
